<h1>Profil Yayasan</h1>
<p>Kegiatan Kurikuler

KB–TK-SD Islam Al-Azhar 34 Makassar, melaksanakan Kurikulum Pengembangan Pribadi Muslim usia 1 – 6 tahun yaitu Kurikulum Diknas diintegrasikan keimanan dan ketaqwaan sesuai Al Qur’an dan Hadist. Kegiatan Belajar Mengajar dilaksanakan dengan Metode Integrated Learning, Child Centered dan Learning by Doing serta PAKEM (Pembelajaran Aktif Kreatif Efektif dan Menyenangkan).


Kegiatan Penunjang

Bertujuan untuk mendukung kegiatan kurikuler meliputi : Eksperimen, Observasi, Eksplorasi serta Proses, Puncak Tema, Field Trip, Peduli Sesama, Cinta Alam dan Lingkungan, Out Bond Training, Mengundang Tamu, Peringatan Hari Besar Islam, Nasional dan Internasional.

Kegiatan Ekstrakurikuler
Bertujuan menggali potensi dan pengembangan kreatifitas serta bakat, diantaranya: Membaca Al Qur’an, Menari, Menyanyi, Komputer, Bermain Musik (Angklung, Ansamble Musik), Bahasa Inggris, dan Science</p>